// travelForum
#travelForum {
  min-height: calc(100vh - 2.8rem - 60px);
  
  .forumBanner {
    width: 100%;
    height: 250px;
    background: #123 url("../assets/travelforum-unsplash.jpg");
    background-position: 55% 50%;

    .forumTitle {
      font-size: 2.4rem;
      color: #fff;
      text-shadow: 0 0 5px rgba($color: $secondary, $alpha: 0.3),0 0 12px rgba($color: $secondary, $alpha: 0.8),0 0 20px rgba($color: $secondary, $alpha: 0.3);
      text-align: center;
      line-height: 250px;
    }
  }

  a {
    text-decoration: none;
    color: $dark;
    .ellipsisTitle {
      color: $secondary;
    }
    .text-subtitle2 {
      color: $secondary;
    }
  }
  
}

@media (min-width: $breakpoint-md) {
  #travelForum {
    .forumBanner {
      width: 100%;
      height: 300px;
      background: #123 url("../assets/travelforum-unsplash.jpg");
      background-position: 55% 50%;
      overflow: hidden;
  
      .forumTitle {
        font-size: 3rem;
        color: #fff;
        text-shadow: 0 0 5px rgba($color: $secondary, $alpha: 0.3),0 0 12px rgba($color: $secondary, $alpha: 0.8),0 0 20px rgba($color: $secondary, $alpha: 0.3);
        text-align: center;
        line-height: 300px;
      }
    }
    a:hover {
      color: $grey-8;
      .ellipsisTitle {
        color: $primary;
      }
      .text-subtitle2 {
        color: $primary;
      }
    }
  }
}
