// myPage
#myPage {
  display: flex;
  justify-content: center;
  background: rgba($color: $secondary, $alpha: 0.15);

  a {
    text-decoration: none;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #mySelf {
    padding: 1.2rem 0;
    margin-bottom: 1.2rem;

    .myName {
      color: $grey-8;
    }
    .myUserName {
      color: $grey-5;
    }
  }

  .myContent {
    display: flex;
    flex-direction: column-reverse;
    .q-item {
      padding: 0.5rem 1.8rem;
    }


    #left {

      .q-tab-panel {
        padding: 0;
      }
      .q-tab__content {
        padding: 10px 0;
      }

      .q-card {
        box-shadow: none;
      }

      .oneArticle {
        padding: 0 .8rem;
        
        .ellipsis {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          padding-right: 2rem;
        }
      }

      .tabInfo {

        .oneArticle {
          width: 100%;
          display: flex;

          .oneArtCont {
          width: 70%;
          padding-right: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .pageType {
            font-size: 0.8rem;
            color: $accent;
            margin-bottom: 0;
          }

          .pageTitle {
            font-size: 1.2rem;
            color: $secondary;
          }

          .pageDesc {
            font-size: 0.9rem;
            color: $grey-8;
          }
        }

          .oneArtPic {
            width: 30%;
          }
        }

      }
    }
  
    #right {
      font-size: 1rem;
      margin-bottom: 1.2rem;

      // .q-list:nth-child(1) .q-item:nth-child(1) {
      //   padding: 0;
      // }
      .rightTop {
        .q-item:nth-child(1) {
          padding-top: 1.8rem;
          padding-bottom: 1.8rem;
        }
      }
      .rightBottom {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
  
      .q-carousel {
        height: 200px;
      }
  
      img {
        width: 100%;
      }
  
      .q-item__label:nth-child(1) {
        color: $grey-5;
      }
    }
  }
  
}


@media (min-width: $breakpoint-md) {
  #myPage {
    display: flex;
    justify-content: center;
    background: rgba($color: $secondary, $alpha: 0.15);
  
    .container {
      width: 90%;
      display: flex;
      flex-direction: column;
    }
    #mySelf {
      margin-bottom: 1.2rem;
  
      .myName {
        color: $grey-8;
      }
      .myUserName {
        color: $grey-5;
      }
    }
  
    .myContent {
      // width: 100%;
      display: flex;
      flex-direction: row;
      .q-item {
        padding: 12px;
      }
  
  
      #left {
        width: 70%;
  
        .q-tab-panel {
          padding: 0;
        }
        .q-tab__content {
          padding: 10px 0;
        }
  
        .q-card {
          box-shadow: none;
        }
        .ellipsis {
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
  
        .tabInfo {
  
          .oneArticle {
            width: 100%;
            display: flex;
  
            .oneArtCont {
            width: 70%;
            padding-right: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
  
            .pageType {
              font-size: 0.8rem;
              color: $accent;
              margin-bottom: 0;
            }
  
            .pageTitle {
              font-size: 1.2rem;
              color: $secondary;
            }
  
            .pageDesc {
              font-size: 0.9rem;
              color: $grey-8;
            }
          }
  
            .oneArtPic {
              width: 30%;
            }
          }
  
        }
      }
    
      #right {
        width: 30%;
        margin-left: 1.2rem;
  
        .q-list:nth-child(1) .q-item:nth-child(1) {
          padding: 0;
        }

        .rightTop {
          .q-item:nth-child(1) {
            padding-top: 1rem;
            padding-bottom: 1rem;
          }
        }

        .rightBottom {
          padding-top: 0;
          padding-bottom: 0;
        }
    
        .q-carousel {
          height: 200px;
        }
    
        img {
          width: 100%;
        }
    
        .q-item__label:nth-child(1) {
          color: $grey-5;
        }
      }
    }
    
  }
}

@media (min-width: $breakpoint-lg) {
  #myPage {
    .container {
      width: 80%;
    }
  }
}